
html {
    scroll-behavior: smooth;
}
nav{
   display: flex;
      align-items: center;
 justify-content:space-between;
      height: 64px;
      background: rgba(10,22,40,0.95);
      backdrop-filter: blur(25px);
      position: fixed;
      top: 0; left: 0; right: 0;
      z-index: 200;
     
}
h1{
font-style:Italic;
font-family:Arial, Helvetica, sans-serif;
color:white;
}
ul{
justify-content:space-around;
display: flex;
justify-content:center;   
font-family:Arial, Helvetica, sans-serif;
color:white;
gap: 5px;
}
.botao{
    display: flex; 
    justify-content:space-between; 
    gap: 5px;
}
.btn-login{
    border: 1.5px solid rgba(255,255,255,0.4);
     color: white;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: all 0.2s;   
    background-color: transparent; 
     cursor: pointer;     
}
.btn-cadastro{
    border: 1.5px solid rgba(255,255,255,0.4);
    color: white;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: all 0.2s;   
    background-color: transparent; 
     cursor: pointer;  
}
.pg-empresa{
     min-height: 100vh;
      padding-top: 64px;
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;
      background-color:rgba(0,201,192,0.07) ;
}
.pg-bg {
      position: absolute; inset: 0;
      background:
        linear-gradient(to right, rgba(10,22,40,0.97) 38%, rgba(10,22,40,0.45) 100%),
        url('https://images.unsplash.com/photo-1586528116311-ad8dd3c8310d?w=1400&q=80') center/cover no-repeat;
      z-index: 0;
    }
.pg-bg::after {
      content: '';
      position: absolute; inset: 0;
      background: radial-gradient(ellipse at 70% 50%, rgba(0,201,192,0.07) 0%, transparent 60%);
    }
.pg-conteudo{
position: relative; z-index: 20;
max-width: 560px;
    }
.pg-texto{
        position: relative; z-index: 20;
font-family: 'Syne', sans-serif;
 font-weight: 800;
 line-height: 1.15;
      margin-bottom: 1rem;
    }
.pg-p{
    font-size: 2rem;
      color:aquamarine;
      font-weight: 300;
      line-height: 1.6;
      margin-bottom: 2.5rem;
}
.pg-botao{
    display: flex; 
    gap: 1rem; 
    flex-wrap: wrap;
}
.btn-calculadora{
     border: 1.5px solid rgba(255,255,255,0.4);
     padding: 0.85rem 1.8rem;
     border-radius: 8px;
        cursor: pointer;  
}
.btn-sabia-mais{
    border: 1.5px solid rgba(255,255,255,0.4);
     padding: 0.85rem 1.8rem;
     border-radius: 8px;
        cursor: pointer;  
}
#pg-equipe{
     padding: 6rem 2.5rem;
      background: #ffffff;
      color: #0a1628;
}
.titulo-equipe{
      font-family: 'Syne', sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 3rem;
      color: #0a1628;
}
.time-grade{
     display: grid;
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      gap: 2rem;
      max-width: 900px;
}
.time-card{
     display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.75rem;
      text-align: center;
}
.time-avatar{
     width: 90px; 
     height: 90px;
      border-radius: 50%;
      object-fit: cover;
      background: #e0eaf4;
      display: flex; align-items: center; 
      justify-content: 
      center;
      font-family: 'Syne', sans-serif;
      font-weight: 700;
      font-size: 1.4rem;
      color: var(navy);
      border: 3px solid #e0eaf4;
      overflow: hidden;
}
.time-menmbo{
      font-size: 0.88rem;
      font-weight: 500;
      color: #1a2c44;
}
#sobre{
      padding: 6rem 2.5rem;
      background: #0a1628;
      position: relative;
      overflow: hidden;
}
.sobre-titulo{
    color:  #a0b4c8;
    font-size: 3rem; 
}
.sobre-caixa{
  display: grid;
      gap: 4rem;
      align-items: center;
      max-width: 1100px;
}
.sobre-texto p {
      font-size: 0.95rem;
      color: #a0b4c8;
      line-height: 1.8;
      margin-bottom: 1rem;
    }
.sobre-img-wrap {
      position: relative;
      border-radius: 12px;
      overflow: hidden;
      border: 1px rgba(255,255,255,0.08);
}
#lucalizacao{
     padding: 6rem 2.5rem;
      background: #f7f9fb;
}
.l-titulo{
    font-size: 3rem; 
    color: #0a1628;
}
.l-texto{
 display: grid;
      gap: 1rem;
      align-items: center;
      max-width: 1000px;
}
.l-texto p {
          font-size: 0.95rem;
      color:  #0a1628;
      line-height: 1.8;
      margin-bottom: 1rem;
}
footer{
     display: flex;
      align-items: center;
 justify-content:space-between;
      height: 64px;
      background: rgba(10,22,40,0.95);
      backdrop-filter: blur(25px);
  
     
      z-index: 200;
}
