/*
   Início
*/

.conteudo {
    background-color: #B8B8B9;
    height: calc(100vh - 90px);
    padding: 15px 25px;
    box-sizing: border-box;
    overflow: hidden;
}


/*
   CARDS SUPERIORES:
   COTAINER REGISTRADOS
   CONTEINER EM ALERTA (temperatura)
   CONTEINER EM ALERTA (umidade)
   CONTEINER em ALERTA (temperatura e umidade)
*/

.cards-topo {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 5px;
    flex-wrap: wrap;
}

.card {
    width: 175px;
    height: 105px;
    border-radius: 12px;
    padding: 10px;
    color: white;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card p {
    margin: 0;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.info-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 8px;
}

.icone-card {
    width: 34px;
    height: 34px;
    object-fit: contain;
}

.info-card h2 {
    margin: 0;
    font-size: 34px;
    line-height: 1;
}

.azul {
    background-color: #1AB8C4;
}

.vermelho {
    background-color: #AF4637;
}

.amarelo {
    background-color: #AF8A37;
}


/* 
   AVISO CENTRAL
*/

.aviso-container {
    width: 620px;
    max-width: 92%;
    height: 55px;
    margin: 20px auto 15px auto;
    padding: 10px 20px;
    box-sizing: border-box;

    background: #dfe4f2;
    border: 3px solid #378AAF;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.aviso-container p {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: #222222;
    line-height: 1.3;
}


/* 
   FILTROS:
   Período (Últimos 30 dias)
   Alerta (Todos)
   Container ( "Digite o código de série" )
*/

.filtros-container {
    width: 92%;
    height: 38px;
    margin: 12px auto;
    padding: 0 18px;
    box-sizing: border-box;

    background: #EFEFF2;
    border-radius: 6px;

    display: flex;
    align-items: center;
    gap: 15px;
}

.filtros-container label {
    font-size: 15px;
    font-weight: bold;
    color: #7C7C7C;
}

.filtros-container select,
.filtros-container input {
    height: 28px;
    padding: 0 10px;

    border: none;
    border-radius: 6px;
    outline: none;

    background: #E1E4EA;
    font-size: 15px;
}

.filtros-container select {
    width: 200px;
}

.filtros-container input {
    width: 180px;
}


/*
    TABELA DE ALERTAS:
    Código de série
    Conteineres
    Última Captura de Temperatura
    Última Captura de Umidade
    Data da Leitura

    TH (Table Header) = cabeçalho
    TD (Table Data) = dados

    Utilizados para estilizar elementos da tabela
    sem necessidade de criar classes extras.
*/

.tabela-container {
    width: 92%;
    margin: 12px auto 0 auto;
    padding-top: 10px;
    box-sizing: border-box;

    background-color: #EFEFF8;
    border-radius: 8px;
    overflow: hidden;
}

.tabela-container h3 {
    margin: 0;
    padding: 0 14px 10px 14px;

    font-size: 18px;
    font-weight: bold;
    color: #2f3b52;
}

table {
    width: 100%;
    min-width: 700px;

    background: white;
    border-collapse: collapse;
}

th {
    padding: 7px;
    font-size: 15px;
    color: #545862;
    text-align: center;
    white-space: nowrap;
}

td {
    padding: 6px;
    font-size: 15px;
    color: #6d6d6d;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
}


/*
   BADGES DE STATUS
   É como se fosse uma etiqueta.
   Aqui estão as cores dos alertas dos nossos ALERTAS
*/

.badge {
    display: inline-block;
    min-width: 155px;
    padding: 4px 12px;
    border-radius: 20px;
    box-sizing: border-box;

    color: #edeef3;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.badge.vermelho {
    background-color: #FF2C2C;
}

.badge.amarelo {
    background-color: #d6b80c;
}

.badge.verde {
    background-color: #12A212;
}


/*
   PAGINAÇÃO
*/

.paginacao {
    min-width: 700px;
    height: 38px;
    padding-right: 40px;
    box-sizing: border-box;

    background-color: #d9deec;
    border-top: 1px solid #b6bbc6;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
}

.texto-pagina {
    margin-right: 8px;

    font-size: 11px;
    color: #8a8d95;
    font-weight: bold;
}

.pagina,
.proximo {
    height: 24px;

    border: none;
    border-radius: 5px;
    cursor: pointer;

    background: #8d929c;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.pagina {
    width: 24px;
}

.pagina.ativa {
    background: #e6e9f0;
    color: #7b7f88;
    border: 1px solid #9ca1aa;
}

.proximo {
    padding: 0 12px;
}

/* arrumando os alertas para ficar duas cores (cinza e branco), semelhante a zebra*/

.efeito-zebra{
    background-color: #DFE2EF;
}

.efeito-branco{
    background: #EFEFF8;
}

.button-dashboard{
    cursor: pointer;
}