@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

.current-session{
    background-color: #1AB8C4;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Inter', sans-serif;
}

/* Barra lateral da Dashboard */
aside {
    width: 25%;
    background-color: #081C29;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-container-top {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.aside-container-bottom {
    margin-bottom: 2rem;
}

.aside-logo-container {
    display: flex;
    align-items: center;
    gap: .4rem;
    padding: 1rem;

    img {
        width: 60px;
    }
    span {
        font-weight: 900;
    }
}

.aside-buttons-wrap {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.aside-button {
    display: flex;
    align-items: center;
    gap: .75rem;
    padding: .5rem .75rem;
    cursor: pointer;
    transition: all .25s ease-in-out;

    .aside-button-icon-container {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #0F5E7F;
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .aside-button-text {
        font-weight: 700;
    }

    .dashboard-btn { background-image: url(../images/icons/activity1.svg); }
    .cadastrar-funcionario-btn { background-image: url(../images/icons/person-add1.svg); }
    .registro-de-lotes-btn { background-image: url(../images/icons/group66.svg); }
    .sair-btn { background-image: url(../images/icons/box-arrow-left1.svg); }
    .ver_funcionario-btn { background-image: url(../images/icons/persons.svg); }
}

.aside-button:hover {
    background-color: #061520;
    text-decoration: underline;
}

/* Conteúdo da Dashboard */
main {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.title-container {
    background-color: #0D2333;
    height: 20%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0 1.5rem;

    .title-text {
        font-weight: 600;
    }
    span {
        font-weight: 800;
    }
}

.section-dashboard {
    height: 100%;
    overflow-y: auto;
}

/* ---> DASHBOARD */
.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.dashboard-container-top {
    display: flex;
    width: 100%;
}

.red-kpi {
    background-color: #AF4637;
}
.blue-kpi {
    background-color: #1AB8C4;
}
.yellow-kpi {
    background-color: #AF8A37;
}

/* STATUS */
.status-wrap {
    display: flex;
    gap: 1rem;
}

.kpi-container {
    display: flex;
    flex-direction: column;
    padding: .2rem 1rem;
    width: 14rem;
    height: 7rem;
    align-items: center;
}

.kip-text-container {
    display: flex;
    justify-content: center;
    width: 100%;

    span {
        text-align: center;
        width: 100%;
        font-weight: 400;
        font-size: .9rem;
    }
}

.kpi-numero-indicador {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    text-align: center;
    font-weight: 800;
}

/* KPIS */
.dashboard-container-mid {
    display: flex;
    height: min-content;
}

.kpis-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* CHARTS */
.charts-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}

.chart-container {
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.chart-title {
    width: 100%;
    color: #335176;

    h2 {
        font-size: 2rem;
    }
}

.chart {
    height: 100%;
    width: 80%;
}

/* BOTÕES */
.dashboard-container-bottom {
    width: 100%;
}

.buttons-wrap {
    width: 100%;
    display: flex;
    gap: 10rem;
    justify-content: center;
    margin-top: 2rem;
}

.dashboard-button {
    width: 130px;
    height: 52px;
    border: 0;
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 10px;
}

.remove-button {
    background-color: #AF4637;
}

.back-button {
    background-color: #B8B8B9;
}