/* Reset dos elementos da página (de acordo com as outras) */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Archivo Black", sans-serif;
}

/* Alterando Fundo do Site e estilizando página de acordo com as outras*/
main {
    background-color: #B8B8B9;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container {
    background-color: #F3F7FA;
    width: 80%;
    height: 800px;
    border-radius: 20px;
    padding: 20px;
}

main .container h1 {
    color: #252C35;
    font-size: 40px;
    margin-left: 1rem;
}

main .container .container-form {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


/* Adicionando elemento de scroll para tabelas de lotes */

tbody {
    display: block;
    height: 450px;
}

/* Definindo Estilo da Tabela de Containers */

.tabela_containers {
    display: flex;
    width: fit-content;
    justify-content: center;
    border: #081C29 solid 4px;
    padding: 1rem;
    overflow-y: scroll;
}

.tabela_containers td {
    padding: 0%;
    gap: 0%;
    border: 0%;
    margin: 0%;
}

.Centralizador .tabela_containers td {
    margin: 0%;
}

.Container_info {
    margin: 2rem;
    display: flex;
    align-items: center;
    width: 30rem;
    height: 6rem;
    border-radius: 35px;
    border: 4px solid #081C29;
    color: black;
    font-size: x-large;
    cursor: default;
    padding: .5rem
}

.tabela_containers .tabela_head {
    color: black
}

/* Formatando Divs Personalizadas */

.Centralizador {
    display: flex;
    width: 100%;
    justify-content: center;
}

.div_space_between {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Right-side {
    display: flex;
    justify-content: flex-end;
}

/* Estilizando tabela de lotes */
.tabela_lotes_tamanho {
    width: 80%;
    padding-top: 10px;
    box-sizing: border-box;

    background-color: #EFEFF8;
    border-radius: 8px;
    overflow: hidden;
}

.tabela_lotes_tamanho .tabela_lotes table tbody {
    width: 100%;
    box-sizing: border-box;

    background-color: #EFEFF8;
    border-radius: 8px;
    overflow: hidden;
}

.tabela_lotes_tamanho .tabela_lotes table tbody tr {
    width: 100%;

    background: white;
    text-align: center;
    white-space: nowrap;
}

.tabela_lotes_tamanho .tabela_lotes .efeito_zebra th {
    padding: 7px;
    font-size: 15px;
    color: #545862;
    text-align: center;
    white-space: nowrap;
}

.tabela_lotes_tamanho .tabela_lotes .efeito_zebra td {
    padding: 6px;
    font-size: 15px;
    color: #6d6d6d;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
}

.tabela_lotes_tamanho .tabela_lotes .efeito_branco td {
    padding: 6px;
    font-size: 15px;
    color: #6d6d6d;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
}

.tabela_lotes .efeito_zebra {
    background-color: #DFE2EF;
}

.tabela_lotes .efeito_branco {
    background: #EFEFF8;
}


/* Adicinando Estilo dos Botões de Iniciar e Finalizar */

.btn {
    display: flex;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    height: 4rem;
    width: 8rem;
    align-items: center;
    justify-content: center;
    background-color: darkgray;
}

.iniciar {
    background-color: #1AB8C4;
}

.finalizar {
    background-color: #C41A5E;
}

.btn.iniciar.inativo {
    background-color: #A9A9A9;
    cursor: not-allowed;
}

.btn.finalizar.inativo {
    background-color: #A9A9A9;
    cursor: not-allowed;
}

.pointer:hover {
    cursor: pointer;
}

.BtnOutside {
    margin-top: 2rem;
    width: 708px
}

/* Estilização para visualização de telas com no máximo 1366 pixels de largura */
@media screen and (max-width: 1366px) {
    main .container {
        width: 80%;
        height: 680px;
    }

    .Container_info {
        margin: 0.5rem;
    }
}

/* Adicionando Paginacao para tabela de lotes */

.paginacao {
    height: 38px;
    padding-right: 40px;
    box-sizing: border-box;
    width: 80%;

    background-color: #d9deec;
    border-top: 1px solid #b6bbc6;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
}

.pagina,
.proximo {
    height: 24px;

    border: none;
    border-radius: 5px;
    cursor: pointer;

    background: #8d929c;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.pagina {
    width: 24px;
}

.pagina.ativa {
    background: #e6e9f0;
    color: #7b7f88;
    border: 1px solid #9ca1aa;
}

.proximo {
    padding: 0 12px;
}